
    .listItem {
      cursor: pointer;
    }

    .textSection {
      max-Width: 85%;
      margin-bottom: 10px;
    }

    .deleteIcon {
      position: absolute;
      right: 15px;
      top: calc(50% - 15px);
      }

      .deleteIcon:hover {
        background-color: rgb(226, 249, 250);
      }
      .noteTitle {
        font-weight: bold;
        text-decoration: underline;      }
    
